{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Menu
{% endblock %}
{% block body %}


<section class="home-slider owl-carousel">

	<div class="slider-item" style="background-image: url( {% static 'images/bg_3.jpg' %} );"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Our Menu</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href=" {% url 'index' %} ">Home</a></span>
						<span>Menu</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-intro" style=" margin-top: 0%;">
	<div class="container-wrap">
		<div class="wrap d-md-flex align-items-xl-end">
			<div class="info">
				<div class="row no-gutters">
					<div class="col-md-3 d-flex ftco-animate">
						<div class="icon"><span class="icon-phone"></span></div>
						<div class="text">
							<h3>617-876-4897</h3>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-my_location"></span></div>
						<div class="text">
							<h3>74 Winthrop Street
							</h3>
							<p> Harvard Square
							</p>
						</div>
					</div>
					<div class="col-md-5 d-flex ftco-animate">
						<div class="icon"><span class="icon-clock-o"></span></div>
						<div class="text">
							<h3>Open</h3>
							<p><span>Sunday 1 pm-12 midnight</span><br>
								<span>Monday-Thursday 11 am - 1 am</span> <br>
								<span>Friday-Saturday 11 am - 2:30 am</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-menu">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Discover</span>
				<h2 class="mb-4">Our Products</h2>
				<p></p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section">
	<div class="container">
		<div class="row">
			{% for key, menuitem in menuitems.items %}
			<div class="col-md-6 mb-5 pb-3">
				<h3 class="mb-5 heading-pricing">{{ key }}</h3>
				{% for item in menuitem %}
				<div class="pricing-entry d-flex ">

					<div class="img" style="background-image: url('{{ item.image.url }}');"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><a style="color: white; text-decoration: none !important; " href="{% url 'product' item.id %}">{{ item.name }}</a></h3>
							{% if item.price_small and item.price_large %}
							<span class="price">Small: ${{ item.price_small }}</span>
							<span class="price">Large: ${{ item.price_large }}</span>
							{% elif item.price_small %}
							<span class="price">Price: ${{ item.price_small }}</span>
							{% else %}
							<span class="price">Price: ${{ item.price_large }}</span>
							{% endif %}

						</div>
						<div class="d-block">
							<p></p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}