{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Product
{% endblock %}
{% block body %}
<section class="home-slider owl-carousel">

	<div class="slider-item" style="background-image:url( {% static 'images/bg_3.jpg' %} );"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Product Detail</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Product
							Detail</span></p>
				</div>

			</div>
		</div>
	</div>
</section>
<form action="{% url 'add_to_cart' item.id %}" method="POST">
	{% csrf_token %}

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 ftco-animate">
					<a href="{{item.image.url}}" class="image-popup"><img src="{{item.image.url}}" class="img-fluid"
							alt="Image"></a>
				</div>
				<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<h3>{{item.category.name}}</h3>
					<h2>{{item.name}}</h2>
					{% if item.price_small and item.price_large %}
					<h4>
						<span style="color: #e3a02b;">Small: {{item.price_small}}</span>
					</h4>
					<h4>
						<span style="color: #e3a02b;">Large: {{item.price_large}}</span>

					</h4>
					{% elif item.price_small %}
					<h4>
						<span style="color: #e3a02b;">Price: {{item.price_small}}</span>
					</h4>
					{% else %}
					<h4>
						<span style="color: #e3a02b;">Price: {{item.price_large}}</span>
					</h4>

					{% endif %}
					<br>
					<div class="row mt-4">
						<div class="col-md-6">
							<div class="form-group d-flex">
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="select-size" id="select-size" class="form-control">
										{% if item.price_small and item.price_large %}
										<option value="Small">Small: {{item.price_small}} </option>
										<option value="Large">Large: {{item.price_large}}</option>
										{% elif item.price_small %}
										<option value="Unique">Price: {{item.price_small}} </option>
										{% else %}
										<option value="Unique">Price: {{item.price_large}}</option>
										{% endif %}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% if extras %}
	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div>
						<h3>{{ title }}</h3>
						<table class="greyGridTable">
							<thead>
								<tr>
									<th>Name</th>
									{% if item.category.name == "Subs" %}
									<th>Price</th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
								{% for extra in extras %}
								<tr>
									{% if item.category.name == "Regular Pizza" or item.category.name == "Sicilian Pizza" %}
									{% if item.name == "Special" %}
									<td style="padding-left: 45%;">

										<span name="extras" style="color: white;">{{extra.name}}</span>

									</td>
									{% else %}

									<td style="padding-left: 45%;">

										<label style="color: white;"><input type="checkbox" value="{{extra.name}}"
												name="checkbox-topping"
												style="margin-right: 10px;">{{extra.name}}</label>

									</td>
									{% endif %}
									{% endif %}
									{% if item.category.name == "Subs" %}
									<td style="padding-left: 40%;">
										<label style="color: white;"><input type="checkbox" value="{{extra.name}}"
												name="checkbox-subs" style="margin-right: 10px;">{{extra.name}}</label>
									</td>
									<td style="color: black; text-align: center;">{{extra.price}}</td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
							{% if item.category.name == "Subs" %}
							<tfoot>
								<td>Total</td>
								<td style="color: black">
									<span id="total"></span></td>
							</tfoot>
							{% endif %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	<p style="text-align: right; margin-right: 15%;"><button disabled="true" type="submit" id="add_cart"
			class="btn btn-primary py-3 px-5">Add to
			Cart</button>
	</p>
</form>


{% endblock %}
{% block scripts %}
<script type="text/javascript">

	var subs_dict = {};
	{% if item.category.name == "Subs" %}
	{% for extra in extras %}
	subs_dict["{{extra.name}}"] = {{ extra.price }};
	{% endfor %}
	{% endif %}

	var num_max_toppings = {{ item.num_toppings }}
	$(document).ready(function () {

		if (({{ item.num_toppings }} == 0) || ("{{ item.name }}" == "Special")) {
		$('#add_cart').attr("disabled", false);
	}
	var value = $("#select-size option:selected").text().split(" ");
	var total = parseFloat(value[1]);
	$("#total").text(total);


	$("input[name=checkbox-topping]").change(function () {
		if ($("input[name=checkbox-topping]:checked").length == num_max_toppings) {
			console.log($("input[name=checkbox-topping]:checked").length);
			$("input[name=checkbox-topping]").not(':checked').prop('disabled', true);
			$('#add_cart').attr("disabled", false);
		}

		else if ($("input[name=checkbox-topping]:checked").length == num_max_toppings) {
			$("input[name=checkbox-topping]").not(':checked').prop('disabled', true);
			$('#add_cart').attr("disabled", false);

		} else {
			$("input[name=checkbox-topping]").prop('disabled', false)
			$('#add_cart').attr("disabled", true);

		}
	});

	$('input[name=checkbox-subs]').change(function () {
		var value = $("#select-size option:selected").text().split(" ");
		var total = parseFloat(value[1]);

		$('input[name=checkbox-subs]:checked').each(function () {
			total += subs_dict[$(this).val()]
		});
		$("#total").text(total);

	});

	$('select[id=select-size]').change(function () {
		var value = $("#select-size option:selected").text().split(" ");
		var total = parseFloat(value[1]);

		$('input[name=checkbox-subs]:checked').each(function () {
			total += subs_dict[$(this).val()]
		});

		$("#total").text(total);

	});

	});


</script>
{% endblock %}